{% load static %}
{% load tags %}

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'ytlogo.ico' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">

    <script src="{% static 'lib/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/jquery.js' %}"></script>

    <script type="text/javascript">
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <script src="{% static 'js/app.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/multi-range.css' %}">
    <link rel="stylesheet" href="{% static 'css/list-item.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/sandwich-icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/form-range.css' %}">


    {% block scripts %}

    {% endblock %}
</head>
<body class="preload">
    <nav id="top-nav" class="border-bottom">
        <div id="sandwich-icon" data-sidebar="#sidebar-left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h2 class="head">Yawning Titan</h2>
        <div class="flex-break"></div>
        {% block top-buttons %}
        {% endblock %}
    </nav>
    <div id="window-container">
        <div id="toolbar">
            {% for id, el in toolbar.items %}
                <a id="{{id}}-icon" class="toolbar-button {{id}} {% if el.active %}active{% endif %}" href="{{el.title|get_url}}" data-toggle="tooltip" data-placement="right" title="{{el.title}}">
                    {% if el.active %}
                    <i class="bi {{el.icon}}-fill"></i>
                    {% else %}
                    <i class="bi {{el.icon}}"></i>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div id="window">
            <div id="sidebar-left">
                <div id="nav-accordion" class="accordion">
                    {% for button_name, links in sidebar.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="{{button_name|to_id}}-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{button_name|to_id}}-links" aria-expanded="false" aria-controls="images-list">
                                {{button_name}}
                            </button>
                        </h2>
                        <div id="{{button_name|to_id}}-links" class="accordion-collapse collapse" aria-labelledby="{{button_name|to_id}}-header" data-bs-parent="#nav-accordion">
                            <div class="accordion-body list">
                            {% for link in links %}
                                <a class="wide" href="{{link.href}}">{{link.name}}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% block sidebar %}

                {% endblock %}
            </div>
            <div id="main">
                {% block main %}

                {% endblock %}
            </div>
        </div>
    </div>
    <div id="mask" class="hidden">
        {% block dialogues %}

        {% endblock %}
    </div>
    <script> </script>
</body>

{% block style %}
{% endblock %}
