{% extends "item-manager.html" %}
{% load static %}
{% load tags %}
<!-- <!DOCTYPE html> -->

{% block scripts %}
<script src="{% static 'js/item_manager.js' %}"></script>
<script type="text/javascript">
    const FILE_MANAGER_URL = "{% url 'file manager' %}";
    const FILE_TYPE = "game mode";
</script>
{% endblock %}

{% block items %}
    {% for filename, game_mode in game_modes.items %}
        {% include 'elements/el_game_mode.html' with game_mode=game_mode filename=filename %}
    {% endfor %}
{% endblock %}

{% block bottom-buttons %}
<button id="create" class="btn btn-primary">New game mode</button>
{% endblock %}


{% block dialogues %}
    {% include 'elements/el_dialogue_center.html' with id='delete-dialogue' message='Are you sure you want to delete this game mode?<br>This action cannot be undone.' action_name='Delete game mode' %}
    {% include 'elements/el_dialogue_center.html' with id='create-dialogue' header='Create new game mode' message='Enter a name for your new game mode config' action_name='Create game mode' input_prompt='game mode name...' %}
    {% include 'elements/el_dialogue_center.html' with id='create-from-dialogue' header='Create game mode from' message='Enter a name for your new game mode config' action_name='Create game mode' input_prompt='game mode name...' %}
{% endblock %}
