{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block main %}
{% for form_name, form in forms.items %}
<div id="{{form_name}}-config-form-container">
    <div class="accordion-body">
        <form id="{{form_name}}-config-form" class="config-form" action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <div class="info">
                    <label for="id_{{field.name}}" class="form-label">{{field.label}}</label>
                    <p class="help-text">{{field.help_text}}</p>
                </div>                    
                <div class="field-container">
                    {{ field }}
                </div>                  
                {% if field.errors %}
                <ul style="color:var(--bs-danger)">
                    {% for error in field.errors %}
                    <li><strong>{{ error|escapejs }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block style %}
<style>
    .mb-3{
        display: flex;
        flex-wrap: wrap;
        margin: 3px;
    }
    .help-text{
        font-size: .8em;
        color: #888;
        flex-basis: 100%;
        margin: 0;
    }
    .mb-3 label{
        width: 400px;
        display: flex;      
        align-items: center;
        margin: 0;
    }
    .mb-3 input{
        height: 25px;
    }
    .mb-3>div{
        flex: 1;
    }
    .field-container>*{
        width:100%;
    }
    .selector{
        width: 100%;
        /* border-radius: .2rem; */
        /* border: 1px solid #888; */
        border: none;
        border-bottom: 1px solid #888;
        background: transparent;
        text-align: left;
        margin-bottom: 5px;
    }
    .selector:hover{
        background-color: aliceblue;
    }

    div.mb-3:has(.hidden){
        display: none;
    }
</style>
{% endblock %}