{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block scripts %}
{% endblock %}

{% block main %}
<header id="config-header" class="el-row">
    <h2>Create Network</h2>
</header>

<div id="config-forms">
    <form id="network-creator-form" class="config-form">
        {% for field in form %}
            <div class="mb-3 active{% if field.errors %} erroneous{% endif %}">
                <div class="info">
                    <label for="id_{{ field.name }}" class="form-label">{{ field.label|format_text }}</label>
                    <p class="help-text">{{field.help_text}}</p>
                    {% if field.errors %}
                        <ul class="error-list">
                            {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="field-container {% if protected %}disabled{% endif %}">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}

{% block style %}
<style>


    /* specific elements */
    #main{
        padding: var(--padding);
    }
</style>
{% endblock %}
