{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block scripts %}

{% include 'wrappers/node_editor_imports.html' %}

{% endblock %}

{% block top-buttons %}
  <a id="back" href="{% url 'Manage networks' %}"><i class="bi bi-arrow-90deg-left"></i></a>
{% endblock %}

{% block main %}
<app-root></app-root>
<div id="random-elements" class="form-container">
  <div id="network-tabs" class="flex-row">
    <button type="button" id="network-attributes" class="btn">Network attributes</button>
    <button type="button" id="node-list" class="btn">Node list</button>
  </div>
  <form id="doc-meta-form" data-id="doc-meta">
    {% include 'elements/el_form_fields.html' with form=doc_metadata_form protected=False %}
  </form>
  <form id="random-elements-form" class="config-form">
    {% include 'elements/el_form_fields.html' with form=form protected=protected %}
  </form>
</div>
{% endblock %}

{% block style %}
<style>
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
    }

    #main{
        padding: 0 !important;
        position: relative;
    }

    #random-elements{
      position: absolute;
      top: 0px;
      left: 0px;
      padding: var(--increment);
      width: 350px;
      height: 100%;
      z-index: 999;
      background-color: var(--superlight);
    }

    app-root{
        height: 100%;
        width: 100%;
    }

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
    html {
      display: flex;
      flex: 1;
      height: 100%
    }

    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      font-family: Arial, Helvetica, sans-serif
    }

    .field-container:has(.form-switch){
      max-width: 100px;
    }
    .help-text{
      color: var(--text-dark);
    }
    #network-tabs{
      width: 100%;
      border-bottom: 1px solid var(--text-superlight);
    }
    #network-tabs>*{
      margin-left: var(--increment);
      margin-right: var(--increment);
      color: var(--text-superlight);
      border-radius: .5rem .5rem 0 0 ;
      background-color: var(--light);
    }
</style>
{% endblock %}
