:host {
  display: flex;
  flex: 1;
  max-height: 100%;
}

.window {
  display: flex;
  flex-direction: row;
  flex: 1;

  .main {
    display: flex;
    flex: 1;
  }

  app-node-colour-key {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
  }

  app-canvas-control {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// drag drop
.fileover {
  background-color: rgba(255, 255, 255, 0.1);
}
