[flake8]
max-line-length=200
extend-ignore =
    D107 # Missing docstring in __init__
    D100 # Req for docstring at the top of each module
    D104 # Req for docstring in public package
    E203 # Whitespace before :
