:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.properties-editor-container {
  display: flex;
  flex: 1;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content {
  padding-top: 50px;
}
