@use "@angular/material" as mat;
@use "./app/app-mixin.scss" as app;
@use "./app/network-view/controls/canvas-control/canvas-control.mixin.scss" as control;
@include mat.core();

html {
  display: flex;
  flex: 1;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#cy {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

$primary: mat.define-palette(mat.$green-palette);
$accent: mat.define-palette(mat.$teal-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
@include app.app-mixins($theme);
@include control.canvas-control-mixin($theme);
