:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.node-properties-container {
  display: flex;
  flex: 1;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content {
  padding-top: 50px;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .node-properties-form {
    flex: 1;

    .mat-mdc-form-field {
      display: flex;
      flex: 1;
    }

    .mat-mdc-slide-toggle {
      display: flex;
      flex: 1;
      padding: 10px;
    }

    .node-properties-vulnerability-label-container,
    .mat-mdc-slider {
      display: flex;
      flex: 1;
    }

    .node-properties-vulnerability-label-container {
      flex-direction: row;
    }

    .node-properties-vulnerability-label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    .node-properties-vulnerability-value {
      display: flex;
      flex: 1;
      align-items: center;
      padding-left: 20px;
      margin-bottom: 0;
    }
  }

  .node-properties-action-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: flex-end;
  }
}

// hide toggle icons
::ng-deep .node-properties-form .mdc-switch__icons {
  display: none;
}

// toggle padding
::ng-deep .node-properties-form .mat-mdc-slide-toggle label {
  padding-left: 20px;
}
