<div class="game-mode">
    <div class="contents">
        <h3 class="subhead">{{name}}</h3>
        <p class="description">{{description}}</p>
    </div>
    <div class="icons">
        {% if editable %}
        <div class="icon">
            <i class="bi bi-pencil"></i>
        </div>
        <div class="icon delete">
            <i class="bi bi-trash3"></i>
        </div>   
        {% else %}
        <div class="icon">
            <i class="bi bi-check-lg"></i>
        </div>
        {% endif %}
    </div>
</div>