<div class="list-item{% if game_mode.complete %} complete{% endif %}" data-item-name="{{game_mode.name}}">
    <div class="contents">
        <h3 class="subhead">{{game_mode.name}}</h3>
        <p class="description">{{game_mode.description}}</p>
    </div>
    <div class="icons">
        <div class="icon create-from">
            <i class="bi bi-clipboard"></i>
        </div>
        {% if not game_mode.protected %}
        <a class="icon" href="{% url 'game mode config' game_mode_filename=filename %}">
            <i class="bi bi-pencil"></i>
        </a>
        <div class="icon delete">
            <i class="bi bi-trash3"></i>
        </div>
        <input class="form-check-input icon" type="checkbox" value="">
        {% else %}
        <a class="icon" href="{% url 'game mode config' game_mode_filename=filename %}">
            <i class="bi bi-eye"></i>
        </a>
        {% endif %}
    </div>
</div>
