<div class="node-colour-key-container">
  <mat-accordion>
    <mat-expansion-panel data-cy="node-colour-key-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Node Colour Key
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="node-colour-key-list" data-cy="node-colour-key-content">
        <app-node-colour-key-item *ngFor="let key of colourKeyList()" [label]="key?.label" [style]="key?.cytoscapeStyleSheet?.style"></app-node-colour-key-item>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
