#section-controls{
    justify-content: center;
}
#section-controls>*{
    margin: var(--increment);
}

.form-label{
    color: var(--text-superlight);
}
.form-switch{
    text-align: center;
}
.form-range{
    display: flex;
    flex-direction: row;
}
.form-range>.range-setter{
    width: 50px;
    margin-left: var(--increment);
}
.range-setter{
    background-color: var(--light);
    border: 1px solid var(--text-light);
    color: var(--text-light);
    border-radius: .25rem;
}
.range-setter::-webkit-inner-spin-button,.form-range>.range-setter::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* config form elements */
.error-list{
    font-size: .75rem;
    color: red
}
.form-control{
    padding: 0;
    /* padding-left: var(--increment); */
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    min-height: 0;
    max-height: 100%;
}
.form-container div, .form-container form{
    min-height: 0;
    /* max-height: 100%; */
    min-width: 0;
    width: 100%;
    overflow: hidden;
}
.config-form{
    display: flex;
    flex-direction: column;
    /* flex: 1; */

}
.fields{
    width: 100%;
}
.config-form>.fields{
    overflow-y: auto;
    padding-right: var(--increment);
}

 /* form layouts */
 .mb-3{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}
.mb-3 label{
    display: flex;
    align-items: center;
    margin: 0;
}
.mb-3 input{
    height: 25px;
}
.mb-3>div{
    flex: 1;
}

.mb-3:has(.grouped.child) .info{
    margin-left: var(--padding); /*calc(var(--increment)*3);*/
}

.help-text{
    font-size: .8rem;
    color: #888;
    flex-basis: 100%;
    margin: 0;
}
.field-container{
    max-width: 400px;
    /* height: 60px; */
}
.field-container>*{
    width:100%;
    margin: 0;
}
