/* animated sandwich */
#sandwich-icon{
    width: 30px;
    height: 22px;
    margin-left: var(--increment);
    margin-right: var(--increment);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#sandwich-icon>span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--text-mid);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }


#sandwich-icon span:nth-child(1) {
    top: 0px;
}

#sandwich-icon span:nth-child(2),#sandwich-icon span:nth-child(3) {
    top: 9px;
}

#sandwich-icon span:nth-child(4) {
    top: 18px;
}

#sandwich-icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#sandwich-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sandwich-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#sandwich-icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}
