<div class="controls-container">
  <div class="node-list" *ngIf="nodeList && nodeList.length">
    <p *ngFor="let node of nodeList()" class="node-list-item">Node ID: {{node}}</p>
  </div>
</div>
<div class="control-action-buttons-container">
  <button mat-raised-button color="primary" class="button download-button" (click)="downloadNetwork()">
    <mat-icon>download</mat-icon>
    Download Network
  </button>
  <button mat-raised-button color="primary" class="save-button" (click)="saveNetwork()">
    <mat-icon>save</mat-icon>
    Save Network
  </button>
</div>

<button mat-icon-button class="reset-view-button" (click)="resetView()">
  <mat-icon>fullscreen</mat-icon>
</button>
