:host {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 20%;
  min-width: 300px;
}

mat-sidenav-container,
mat-sidenav-content,
app-node-properties,
.mat-drawer-backdrop,
::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
